<section class="contacts" id="section-contacts">
    <h3 class="is-hidden">contacts</h3>
<div class="container">

    <div class="contacts__card">
        <div class="contacts-thumb">
            <p class="contacts__text contacts__text--light">CAFE</p>
        </div>
    <ul class="contacts__list contacts__list--city">
        <li class="contacts__item">
            <strong class="contacts__text contacts__city">Chicago</strong>
        </li>
        <li class="contacts__item">
            <p class="contacts__text contacts__text--secondary">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
    </ul>
    <ul class="contacts__list contacts__list--schedule">
        <li class="contacts__item">
            <strong class="contacts__text">Monday - Friday</strong>
            </li>
            <li class="contacts__item--weekdays">
            <p class=" contacts__text--accent">06:00 AM - 10:00 PM</p>
            </li>
        <li class="contacts__item">
            <strong class="contacts__text">Saturday - Sunday</strong>
            </li>
            <li class="contacts__item contacts__item--weekend">
            <p class="contacts__text--accent">08:00 AM - 16:00 PM</p>
            </li>
    </ul>
    <ul class="contacts__list">
        <li class="contacts__item">
            <a class="contacts__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
    </ul>
</div>

<div class="contacts__card">
    <div class="contacts-thumb contacts-thumb--secondary">
        <p class="contacts__text contacts__text--light">FOOD TRUCK</p>
    </div>
    <ul class="contacts__list contacts__list--city">
        <li class="contacts__item ">
            <strong class="contacts__text contacts__city">Los Angeles</strong>
            </li>
            <li class="contacts__item">
            <p class="contacts__text contacts__text--secondary">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
    </ul>
    <ul class="contacts__list contacts__list--schedule">
        <li class="contacts__item">
            <strong class="contacts__text">Monday - Friday</strong>
            </li>
            <li class="contacts__item contacts__item--weekdays">
            <p class="contacts__text--accent">06:00 AM - 10:00 PM</p>
            </li>
        <li class="contacts__item">
            <strong class="contacts__text">Saturday - Sunday</strong>
            </li>
            <li class="contacts__item contacts__item--weekend">
            <p class="contacts__text--accent">08:00 AM - 16:00 PM</p>
        </li>
    </ul>
    <ul class="contacts__list">
        <li class="contacts__item">
            <a class="contacts__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
    </ul>
</div>

<div class="contacts__card contacts__card--no-bottom">
    <div class="contacts-thumb">
        <p class="contacts__text contacts__text--light">CAFE</p>
    </div>
    <ul class="contacts__list contacts__list--city">
        <li class="contacts__item">
            <strong class="contacts__text contacts__city">New York</strong>
        </li>
            <li class="contacts__item">
            <p class="contacts__text contacts__text--secondary">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
    </ul>
    <ul class="contacts__list contacts__list--schedule">
        <li class="contacts__item">
            <strong class="contacts__text">Monday - Friday</strong>
        </li>
        <li class="contacts__item contacts__item--weekdays">
            <p class="contacts__text--accent">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__item">
            <strong class="contacts__text">Saturday - Sunday</strong>
        </li>
        <li class="contacts__item contacts__item--weekend">
            <p class="contacts__text--accent">08:00 AM - 16:00 PM</p>
        </li>
    </ul>
    <ul class="contacts__list">
        <li class="contacts__item">
            <a class="contacts__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
    </ul>
</div>
<ul class="contacts__list-btn">
    <li class="contacts__item-btn">
        <button class="contacts__button" type="button">Our Locations
            <svg class="btn_arrow_icon btn_arrow_icon--light" width="3.61" height="8">
                <use href="./images/icons.svg#btn_arrow_icon"></use>
            </svg>
        </button>
    </li>
    <li class="contacts__item-btn">
        <button class="contacts__button contacts__button--light" type="button">Franchise
            <svg class="btn_arrow_icon" width="3.61" height="8">
                <use href="./images/icons.svg#btn_arrow_icon"></use>
            </svg>
        </button>
    </li>
</ul>
</div>
</section>