<footer class="site-footer">
    <div class="site-footer_container container">
        <div class="footer-subject">
            <h2 class="footer-subject__title">homemade ice cream made</h2>
            <p class="footer-subject__text">with passion</p>
        </div>
        <div class="footer-media">
            <ul class="media">
                <li class="media__item"><a class="media__link" href=""><svg class="media__svg" width="32" height="32">
                    <use href=""></use>
                </svg></a></li>
                <li class="media__item"><a class="media__link" href=""><svg class="media__svg" width="32" height="32">
                    <use href=""></use>
                </svg></a></li>
                <li class="media__item"><a class="media__link" href=""><svg class="media__svg" width="32" height="32">
                    <use href=""></use>
                </svg></a></li>
            </ul>
            <p class="footer-media__text">Feel free to contact <a href="">+61 (0) 383 766 284</a></p>
        </div>
        <div class="footer-copyright">
            <p class="footer-copyright__text">&#169 2019 - IceCream.
                All Rights Reserved.</p>
        </div>
    </div>
</footer>