<section class="gallery">
  <div class="container">
    <h2 class="is-hidden">Gallery</h2>
    <div class="gallery__thumb">
        <picture>                   
            <img srcset="
            ./images/desktop/gallery/gallery01-@1x.jpg 1x,
            ./images/desktop/gallery/gallery01-@2x.jpg 2x
            " src="./images/desktop/gallery/gallery01-@1x.jpg" alt="Green ice cream" />
        </picture>
        <picture>
            <img srcset="
                    ./images/desktop/gallery/gallery02-@1x.jpg 1x,
                    ./images/desktop/gallery/gallery02-@2x.jpg 2x
                    " src="./images/desktop/gallery/gallery02-@1x.jpg" alt="Pink ice cream" />
        </picture>
        <picture>
            <img srcset="
                    ./images/desktop/gallery/gallery03-@1x.jpg 1x,
                    ./images/desktop/gallery/gallery03-@2x.jpg 2x
                    " src="./images/desktop/gallery/gallery03-@1x.jpg" alt="Pink ice with berry" />
        </picture>
        <picture>
            <img srcset="
                    ./images/desktop/gallery/gallery04-@1x.jpg 1x,
                    ./images/desktop/gallery/gallery04-@2x.jpg 2x
                    " src="./images/desktop/gallery/gallery04-@1x.jpg" alt="Many different ice creams" />
        </picture>
        <picture>
            <img srcset="
                    ./images/desktop/gallery/gallery05-@1x.jpg 1x,
                    ./images/desktop/gallery/gallery05-@2x.jpg 2x
                    " src="./images/desktop/gallery/gallery05-@1x.jpg" alt="Smiling girl with ice cream" />
        </picture>
        <picture>
            <img srcset="
                    ./images/desktop/gallery/gallery06-@1x.jpg 1x,
                    ./images/desktop/gallery/gallery06-@2x.jpg 2x
                    " src="./images/desktop/gallery/gallery06-@1x.jpg" alt="Ice cream with berries in a bowl" />
        </picture>
        <picture>
            <img srcset="
                    ./images/desktop/gallery/gallery07-@1x.jpg 1x,
                    ./images/desktop/gallery/gallery07-@2x.jpg 2x
                    " src="./images/desktop/gallery/gallery07-@1x.jpg" alt="Red ice cream" />
        </picture>
        <picture>
            <img srcset="
                    ./images/desktop/gallery/gallery08-@1x.jpg 1x,
                    ./images/desktop/gallery/gallery08-@2x.jpg 2x
                    " src="./images/desktop/gallery/gallery08-@1x.jpg" alt="Dog licks ice cream" />
        </picture>
        <picture>
            <img srcset="
                    ./images/desktop/gallery/gallery09-@1x.jpg 1x,
                    ./images/desktop/gallery/gallery09-@2x.jpg 2x
                    " src="./images/desktop/gallery/gallery09-@1x.jpg" alt="Chocolate cocktail" />
        </picture>
        <picture>
            <img srcset="
                    ./images/desktop/gallery/gallery10-@1x.jpg 1x,
                    ./images/desktop/gallery/gallery10-@2x.jpg 2x
                    " src="./images/desktop/gallery/gallery10-@1x.jpg" alt="Milkshake with donut and whipped cream" />
        </picture>
    </div>
  </div>
</section>