<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ice cream made with passion</title>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
    crossorigin="anonymous" />
</head>

<body>
  <main>
    <section class="products__section" id="section-products">
      <div class="container">
        <p class="products__pre-title">100% natural</p>
        <h1 class="products__title">products</h1>

        <div class="products">
          <ul class="products__list">
            <li class="products__item">
              <div class="products__card ice-cream-card">
                <h2 class="products__card-title">ice cream</h2>
                <p class="products__card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, quasi
                  accusantium? Iusto suscipit vitae
                  libero deserunt esse natus dignissimos placeat.</p>
                <button class="products__btn">
                  <svg class="products__btn-icon" width="11" height="10">
                    <use href="./images/mobile/products/icons.svg#arrow_right_icon">
                    </use>
                  </svg>
                </button>
              </div>
            </li>
            <li class="products__item">
              <div class="products__card coffee-card">
                <h2 class="products__card-title">ice coffee</h2>
                <p class="products__card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, quasi
                  accusantium? Iusto suscipit vitae
                  libero deserunt esse natus dignissimos placeat.</p>
                <button class="products__btn">
                  <svg class="products__btn-icon" width="11" height="10">
                    <use href="./images/mobile/products/icons.svg#arrow_right_icon">
                    </use>
                  </svg>
                </button>
              </div>
            </li>
            <li class="products__item">
              <div class="products__card milkshake-card">
                <h2 class="products__card-title">milkshakes</h2>
                <p class="products__card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, quasi
                  accusantium? Iusto suscipit vitae
                  libero deserunt esse natus dignissimos placeat.</p>
                <button class="products__btn">
                  <svg class="products__btn-icon" width="11" height="10">
                    <use href="./images/mobile/products/icons.svg#arrow_right_icon">
                    </use>
                  </svg>
                </button>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </section>
  </main>

</body>

</html>