<section class="reviews">
    <div class="container">
        <h2 class="is-hidden">Reviews</h2>
        <div class="wrapper">
            <div class="swiper mySwiper">
               <div class="swiper-wrapper">
                  <div class="reviews-slider customer-item">
                      <article class="customer-card">
                          <div class="reviews__photo">
                    <img 
                     src="./images/customers/face1.jpg" alt="photo-one">
                          </div>
                       <div class="reviews-card__color">
                                <div class="reviews-block__text">
                            <p class="block__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <div class="reviews-home">
                        <p class="reviews-home__name">Emily, Los Angeles</p>
                    </div>
                </article>
            </div>
    <!-- <div class="reviews-slider">
        <article class="customer-card">
            <div class="reviews__photo">
                <img src="./images/customers/face2.jpg" alt="photo-two">
            </div>
            <div class="reviews-card__color">
                <div class="reviews-block__text">
                    <p class="block__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit
                        nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
            </div>
    <div class="reviews-home">
                            <p class="reviews-home__name">Ebony, Texas</p>
                        </div>
    </article>
                <div class="reviews-slider">
                    <article class="customer-card">
                    <div class="reviews__photo">
                        <img src="./images/customers/face3.jpg" alt="photo-three">
                    </div>
                        <div class="reviews-card__color">
                            <div class="reviews-block__text">
                            <p class="block__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                    hendrerit
                                    nulla quam nunc, accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                
                </div>
                </div>
                <div class="reviews-home">
                <p class="reviews-home__name">Johanna, Los Santos</p>
                </div>
                </article>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
</div>
</section> -->
<!-- <div class="wrapper">
<div class="slider single-item">
    <div class="slider__item"><img src="./images/customers/face1.jpg"></div>
    <div class="slider__item"><img src="./images/customers/face3.jpg"></div>
    <div class="slider__item"><img src="./images/customers/face2.jpg"></div>
    <div class="slider__item"><img src="./images/customers/face3.jpg"></div>
    <div class="slider__item"><img src="./images/customers/face1.jpg"></div>
    <div class="slider__item"><img src="./images/customers/face2.jpg"></div>
</div>
</div> -->