<section class="reviews">
    <div class="container">
        <h2 class="is-hidden"></h2>
        <ul class="reviews-list">
            <li class="reviews-list__item">
                <img class="reviews-list__photo"
                src="./images/customers/face1.jpg" alt="photo-one">
                <div class="block">
                <p class="block__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
            </li>
            <li class="reviews-list__item">
                <img class="reviews-list__photo" src="./images/customers/face2.jpg" alt="photo-two">
                <p class="reviews-list__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </li>
                <li class="reviews-list__item">
                    <img class="reviews-list__photo" src="./images/customers/face3.jpg" alt="photo-three">
                    <p class="reviews-list__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </li>
        </ul>
        
        <div class="reviews-slider">
            <p class="reviews-slider__text">Emily, Los Angeles</p>
        </div>
    </div>
</section>