%button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: 24px;
  min-width: 62.4px;
  font-family: $primary-font;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: none;
  border-radius: 22px;
}

.contacts__button {
    @extend %button;
    width: 161px;
    height: 44px;
    background-color: $main-accent-color;
    color: $main-light-color;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color $duration $function;
    &:hover,
    &:focus {
        background-color: #D41342;
    }
    &--light {
        background-color: $main-background-color;
        color: $main-accent-color;
        margin-top: 10px;
        transition: background-color $duration $function;
    &:hover,
    &:focus {
        background-color: $button-hover-color;
    }
    }
}
