.advantages {
  padding: 20px 0 48px;
  background-color: rgba(255, 245, 246, 0.8);

  @media screen and (min-width: 768px) {
    padding: 33px 0 70px;
  }

  @media screen and (min-width: 1280px) {
    padding: 20px 0 70px;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      padding-right: 50px;
      min-width: 230px;
    }

    @media screen and (min-width: 768px) {
      width: 180px;
    }

    @media screen and (min-width: 1280px) {
      width: 330px;
    }

    @each $number in 1, 2, 3 {
      &:nth-child(#{$number})::before {
        display: block;
        content: url('../images/png/icon#{$number}.png');
        margin-bottom: 16px;

        @media screen and (min-width: 768px) {
          margin-bottom: 36px;
        }

        @media screen and (min-width: 1280px) {
          margin-bottom: 40px;
        }
      }
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 38px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 60px;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 30px;
    }
  }

  &__property {
    @include font($secondary-font, 36px, 400, 1.14, 0.04em, $main-accent-color);
    text-transform: uppercase;
    margin-bottom: 13px;

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      margin-bottom: 15px;
    }
  }

  &__description {
    @include font($primary-font, 12px, 700, 1.7, 0.04em, $main-dark-color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}
