.gallery {
    // padding-top: 49px;
    // padding-bottom: 40px;
    background-image: linear-gradient($gallery-background-color 45%, $main-background-color 45%);
    
  }

.gallery__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -1px;

//   @media screen and(min-width:768px) {
//     margin-right: auto;
//     margin-left: auto;
//     margin: -4px;
//   }
}

.picture__wrapper {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .picture__wrapper {
    transform: scale(100%);
    transition: transform $duration $function;
    z-index: 0;
  }
  
  .picture__wrapper:hover {
    transform: scale(120%);
    z-index: 1;
  }
